.bg1
{
  background: skyblue;
}

.bg1
{
  background: gray;
}
div {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

  #a{
    text-align: center;
  }