

<h1 id="a">Component 1</h1>

<div class="bg">
<h2>Student-1 data</h2>
<p>
    Name: Apeksha Vishwamber Shinde <br>
    phone_no: 9833241762 <br>
    ADdress: near gandhi nagar, Ganesha nagar, Nanded<br>
    Enrollment no: 2020BIT508<br>
    Course: Information Technology<br>
    CGPA: 8.5<br>
</p>
</div>

<div  class="bg">
<h2>Student-2 data</h2>
<p>
    Name:Rohit Sutrave<br>
    phone_no: 9800653325<br>
    Address: om niwas, near raj mall, latur<br>
    Enrollment no: 2019BIt074<br>
    Course: Information Technology<br>
    CGPA: 8.7<br>
</p>

</div>


<div  class="bg">
    <h2>Student-3 data</h2>
    <p>
        Name: Anjali Pramod Rawke <br>
        phone_no: 9833867762<br>
        Address: purna niwas, sharda nagar, Nanded<br>
        Enrollment no: 2020BTT302<br>
        Course: Civil<br>
        CGPA: 8.0<br>
    </p>
    </div>
    
    <div  class="bg">
    <h2>Student-4 data</h2>
    <p>
        Name: shweta ghale<br>
        phone_no: 9853241762<br>
        ADdress: ashok niwas, FC road, pune;<br>
        Enrollment no: 2019BCI076<br>
        Course: Textile<br>
        CGPA: 9<br>
    </p>
</div>

<button (click)="btnclick()" class="btn btn-success">Check Service</button>